@mixin flex-container($align: center, $justify: center) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}

@mixin state-indicator($bg-color) {
  content: '';

  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 36px;
  height: 36px;

  background-color: $bg-color;
  border-radius: 50%;
}

.wrapper {
  @include flex-container;
}

.CheckboxRoot {
  @include flex-container;

  cursor: pointer;

  position: relative;

  width: 18px;
  height: 18px;

  background-color: transparent;
  border: 2px solid var(--color-light-100);
  border-radius: 4px;
  box-shadow: 0 2px 10px black;

  &.disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }

  &:not(.disabled) {
    &:hover::before,
    &:active::before {
      @include state-indicator(var(--color-dark-500));
    }

    &:focus::before {
      @include state-indicator(var(--color-dark-100));

      outline: none;
    }
  }
}

.CheckboxIndicator {
  display: none;
  color: var(--color-dark-900);

  & svg {
    position: relative;
    top: 2px;
  }
}

.selected {
  background-color: var(--color-light-100);
  border: none;

  .CheckboxIndicator {
    display: block;
  }
}

.disabled {
  background-color: var(--color-dark-100);
}

.CheckboxIcon {
  width: 16px;
  height: 16px;
}

.marginLeft {
  margin-left: 11px;
}
