button {
  all: unset;
}

@mixin state-indicator($bg-color) {
  content: '';

  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 36px;
  height: 36px;

  background-color: $bg-color;
  border-radius: 50%;
}

.CheckboxRoot {
  cursor: pointer;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 18px;
  height: 18px;

  background-color: transparent;
  border: 1px solid var(--color-light-100);
  border-radius: 4px;
  box-shadow: 0 2px 10px rgb(0 0 0 / 20%);

  &.disabled {
    cursor: not-allowed;
    border: 1px solid var(--color-dark-300);
  }

  &[data-state='checked'] {
    color: var(--color-dark-900);
    background-color: var(--color-light-100);
    border: none;
    border-radius: 2px;
  }

  &[data-state='checked']:disabled {
    color: var(--color-light-500);
    background-color: var(--color-dark-100);
  }

  &:not(.disabled) {
    &:hover::before {
      @include state-indicator(var(--color-dark-500));
    }

    &:active::before,
    &:focus::before {
      @include state-indicator(var(--color-dark-100));
    }
  }
}

.CheckboxIndicator {
  width: 100%;

  & svg {
    position: relative;
    top: 3px;
    left: 1px;
  }
}

.Label {
  padding-left: 15px;
  font-size: 15px;
  line-height: 1;
  color: white;
}

.text-disabled {
  color: var(--color-dark-300);
}
