:root {
  --select-width: 210px;
}

.selectWrapper {
  width: var(--select-width);
  height: 60px;
}

.selectTypo {
  margin: 1px 0;
  color: var(--color-dark-100);
}

.selectTrigger {
  cursor: pointer;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 36px;
  padding-left: 10px;

  background-color: transparent;
  border: 1px solid var(--color-dark-300);
  border-radius: 2px;

  &:hover {
    color: var(--color-light-100);
    background-color: var(--color-dark-500);
    border-color: var(--color-dark-100);
  }

  &:focus,
  &:focus-visible {
    border: 2px solid var(--color-info-700);
    outline: none;
  }

  &.disabled {
    cursor: not-allowed;
    color: var(--color-dark-300);
  }
}

.selectIcon {
  padding-right: 4px;
}

.selectContent {
  position: absolute;
  z-index: 5;

  overflow: hidden;

  width: calc(var(--select-width) + 12px);

  background-color: var(--color-dark-900);
  border: 1px solid var(--color-dark-300);
  border-radius: 3px;
}

.selectViewPort {
  padding: 5px;
}

.selectItem {
  cursor: pointer;

  display: flex;
  place-items: center;

  max-height: 30px;
  padding: 1px 12px;

  outline: none;

  &:focus-visible,
  &:hover {
    color: var(--color-dark-100);
    background-color: var(--color-accent-900);
  }
}
