:root {
  --min-width: 50px;
  --max-width: 110px;
}

.selectWrapper {
  margin: 0 8px;
}

.selectTypo {
  margin: 1px 0;
  color: var(--color-dark-100);
}

.selectTrigger {
  cursor: pointer;

  position: relative;

  display: inline-flex;
  align-items: center;
  justify-content: space-around;

  box-sizing: border-box;
  width: var(--max-width);
  min-width: 60px;
  max-width: 400px;
  height: 36px;
  padding: 0 2px;

  white-space: nowrap;

  background-color: transparent;
  border: 1px solid var(--color-dark-300);
  border-radius: 2px;

  &[data-state='open'] {
    border-radius: 2px 2px 0 0;
  }

  &:focus-visible,
  &:hover {
    color: var(--color-light-100);
    background-color: var(--color-dark-500);
    border-color: var(--color-dark-100);
  }

  &:focus-visible {
    outline: 2px solid var(--color-info-700);
  }

  &.disabled {
    cursor: not-allowed;
    color: var(--color-dark-300);
  }
}

.selectIcon {
  padding-right: 4px;
}

.selectContent {
  overflow: hidden;

  width: var(--max-width);
  min-width: 60px;
  max-width: 400px;

  background-color: var(--color-dark-900);
  border: 1px solid var(--color-dark-300);
  border-radius: 3px;

  &[data-state='open'] {
    border-top: none;
    border-radius: 0 0 2px 2px;


  }
}

.selectItem {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: left;

  max-height: 30px;
  padding: 1px 12px;

  outline: none;

  &:focus-visible,
  &:hover {
    color: var(--color-dark-100);
    background-color: var(--color-accent-900);
    outline: none;
  }

  &:focus-visible {
    outline: 2px solid var(--color-info-700);
  }
}
