.stars {
  display: flex;
  gap: 10px;
}

.button {
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.buttons {
  display: inline-flex;
  gap: 12px;
  justify-content: center;
}

.nowrap {
  white-space: nowrap;
}
