.wrapper {
  width: 100%;
}

.rowContainer {
  display: flex;
  gap: 30px;
  align-items: end;
  justify-content: space-between;
}

.rowHeight {
  height: 70px;
}

.specialWrap {
  align-items: end;
}
