.wrapper {
  width: 100%;
}

.tableMargin {
  width: 100%;
  margin-top: 33px;
}

.rowContainer {
  display: flex;
  gap: 30px;
  align-items: end;
  justify-content: space-between;

  width: 100%;
}

.rowHeight {
  height: 70px;
}

.specialWrap {
  align-items: end;
}

.uploadBtn {
  min-height: 36px;
  margin-top: 24px;
}

.privateBox {
  margin-top: 24px;
}
