.table {
  border-collapse: collapse;
}

.thead {
  padding: 6px 24px;
  text-align: left;
}

.th {
  height: 36px;
  padding: 6px 24px;
  background-color: var(--color-dark-500);
}

.td {
  padding: 6px 24px;
  text-align: left;
  border-bottom: 1px solid var(--color-dark-100);

  svg {
    scale: 0.667;
  }
}

.centeredTd {
  display: flex;
  align-items: center;
  justify-content: center;
}
