.layout {
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  padding-inline: var(--header-padding-inline);
}

@media (width <= 1140px) {
  .main {
    padding-inline: 5px;
  }
}
