.cardsHeader {
  width: 100%;
}

.buttonBack {
  all: unset;

  cursor: pointer;

  display: flex;
  gap: 7px;
  align-items: center;

  margin-bottom: 33px;

  &:hover:enabled {
    background-color: unset;
  }

  p {
    margin: 0;
  }
}

.ownerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.owner {
  display: flex;
  gap: 6px;
  align-items: center;
}
