.nowrap {
  white-space: nowrap;
}

.wrapper {
  display: flex;
  gap: 4px;
  align-items: center;
}

.button {
  all: unset;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  line-height: unset;

  .rotate90 {
    transform: rotate(90deg);
  }

  .rotate270 {
    transform: rotate(-90deg);
  }

  &:hover:enabled {
    background-color: unset;
  }
}

.question {
  width: 25%;
}

.answer {
  width: 25%;
}

.empty {
  flex-grow: 0;
}
