.nowrap {
  white-space: nowrap;
}

.update {
  display: flex;
  gap: 4px;
  align-items: center;
}

.arrowClass {
  path {
    fill: white;
  }
}

.rotate90 {
  transform: rotate(90deg);
}

.rotate270 {
  transform: rotate(-90deg);
}

.question {
  width: 25%;
}

.answer {
  width: 25%;
}

.grade {
}

.empty {
  flex-grow: 0;
}
