.nowrap {
  white-space: nowrap;

  div {
    cursor: pointer;
  }
}

.th {
  display: flex;
  gap: 4px;
  align-items: center;
}

.arrowClass {
  path {
    fill: white;
  }
}

.arrowNone {
  display: none;
}

.rotate90 {
  transform: rotate(90deg);
}

.rotate270 {
  transform: rotate(-90deg);
}

.question {
  width: 25%;
}

.answer {
  width: 25%;
}

.empty {
  flex-grow: 0;
}
