:root {
  --form-padding-vertical: 30px;
  --form-padding-horizontal: 36px;
  --form-margin-vertical: 20px;
  --form-margin-horizontal: auto;
  --form-width: 420px;
  --form-height: 456px;
  --margin-large: 40px;
  --margin-medium: 20px;
  --margin-small: 25px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  box-sizing: border-box;
  width: var(--form-width);
  height: var(--form-height);
  margin: var(--form-margin-vertical) var(--form-margin-horizontal);
  padding: var(--form-padding-vertical) var(--form-padding-horizontal) var(--margin-medium);

  text-align: left;

  background-color: var(--color-dark-700);
}

.headerText, .linkBtn {
  margin-bottom: var(--margin-large);
}

.emailText {
  margin-top: 19px; /* Specific value suggests it should not be changed */
  color: var(--color-dark-300);
}

.sendBtn {
  height: 36px;
  margin-top: 50px; /* Consider making this a variable if used elsewhere */
}

.rememberText {
  margin-top: var(--margin-medium);
  text-align: center;
}
