.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  box-sizing: border-box;
  width: 420px;
  height: 456px;
  margin: 20px auto;
  padding: 30px 36px 20px;

  text-align: left;

  background-color: var(--color-dark-700);

  & * {
    box-sizing: border-box;
  }
}

.headerText {
  margin-bottom: 40px;
}

.emailText {
  margin-top: 19px;
  color: var(--color-dark-300);
}

.sendBtn {
  height: 36px;
  margin-top: 50px;
}

.rememberText {
  margin-top: 20px;
  text-align: center;
}

.linkBtn {
  margin-bottom: 25px;
}