.inputWrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: start;

  width: 100%;
}

.textAboveInput {
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-m);
  color: var(--color-dark-100);
}

.inputContainer {
  position: relative;
  display: inline-block;
}

.input {
  top: 24px;

  min-width: 284px;
  height: 36px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;

  background-color: var(--color-dark-900);
  border: 1px solid var(--color-dark-300);
  border-radius: 2px;

  &::placeholder {
    color: var(--color-dark-100);
  }

  &:active {
    color: var(--color-light-100);
  }

  &:hover {
    background-color: var(--color-dark-700);
  }

  &:focus-visible {
    outline: 2px solid var(--color-info-700);
  }
}

.input.inputSearch {
  padding-right: 34px;
  padding-left: 41px;
}

.error {
  color: var(--color-danger-300);
  border-color: var(--color-danger-300);

  &::placeholder {
    color: var(--color-danger-300);
  }
}

.textError {
  position: absolute;
  bottom: -25px;

  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-m);
  color: var(--color-danger-300);
}

.disabled {
  pointer-events: none;
  color: var(--color-dark-300);

  &::placeholder {
    color: var(--color-dark-300);
  }

  svg {
    path {
      fill: var(--color-dark-300);
    }
  }
}

.fullWidth {
  width: 100%;
}

.positionIconPassword {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);

  width: 20px;
  height: 20px;

  &.disabled {
    path {
      fill: var(--color-dark-300);
    }
  }
}

.iconSearch {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  width: 20px;
  height: 20px;

  fill: var(--color-light-100);

  &.disabled {
    path {
      fill: var(--color-dark-300);
    }
  }
}

.positionRightIconSearch {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);

  width: 20px;
  height: 20px;
}

.button {
  all: unset;
  cursor: pointer;
}
