.header {
  display: flex;
  justify-content: space-between;
}

.filter {
  margin: 36px 0;
  display: flex;
  justify-content: space-between;
}

.table {
  margin-bottom: 24px;
}

.widthButton {
  //width: 148px;
}
