.button {
  all: unset;
}

.withIcons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  & > a,
  button {
    display: flex;
    place-items: center;
    margin: 0 5px;
  }
}
