.button {
  all: unset;
  cursor: pointer;
  &:hover {
    & svg {
      background-color: var(--color-dark-900);
    }
  }
}

.withIcons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 20px;

  & > a,
  button {
    display: flex;
    place-items: center;
    margin: 0 5px;
  }
}

.orderWrapper {
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 5px 5px 5px 0;

  & svg {
    margin-left: 5px;
    cursor: pointer;
  }
}

.tRowWrapper {
  border-bottom: none;
  > *:first-child {
    width: 30%;
  }
}
.thWrapperHover {
  transition: 0.3s;

  &:hover {
    cursor: pointer;
    background-color: var(--color-dark-300);
  }
}
.tRowWrapperHover {
  transition: 0.3s;

  &:hover {
    background-color: var(--color-dark-700);
  }
}
