.table {
  border-collapse: collapse;
  border: 1px solid var(--color-dark-500);
}

.thead {
  padding: 6px 24px;
  text-align: left;
}

.trow {
  border: 1px solid var(--color-dark-500);
}

.th {
  height: 36px;
  padding: 6px 24px;
  background-color: var(--color-dark-500);
}

.td {
  min-height: 60px;
  padding: 6px 24px;
  text-align: left;
}
