@import '../modal.module';

.footer {
  display: flex;
  justify-content: space-between;
  padding: 36px 0 12px;

  button {
    @include font(--font-family-title, --font-size-m, --font-weight-normal, --line-height-m);

    cursor: pointer;
    padding: 6px 28px;
    border: none;
    border-radius: 4px;
  }

  .primary-button {
    background-color: var(--color-accent-500);
  }

  .secondary-button {
    background-color: var(--color-dark-300);
  }

  &.oneButton {
    justify-content: flex-end;
  }
}
