.checkboxContainer {
  display: flex;
  align-items: center;
}

.label {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  &.disabled {
    cursor: initial;
    color: var(--color-dark-100);
  }
}

.checkIconEffect {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 36px;
  height: 36px;
  margin-left: -9px;

  border-radius: 50%;

  &.disabled {
    cursor: initial;
  }

  &:hover:not(.disabled),
  &:hover .root:not([data-state='checked']) {
    background-color: var(--color-dark-500);
  }

  &:focus-within,
  &:active:not(.disabled) {
    background-color: var(--color-dark-100);
  }
}

.checkboxRoot {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  width: 18px;
  height: 18px;

  background-color: transparent;
  border: 1px solid var(--color-light-100);
  border-radius: 4px;
  box-shadow: 0 2px 10px rgb(0 0 0 / 20%);

  &.disabled {
    cursor: initial;
    border: 1px solid var(--color-dark-300);
  }

  &[data-state='checked'] {
    color: var(--color-dark-900);
    background-color: var(--color-light-100);
    border: none;
    border-radius: 2px;
  }

  &[data-state='checked']:disabled {
    color: var(--color-light-500);
    background-color: var(--color-dark-100);
  }
}

.checkboxIndicator {
  width: 18px;
  height: 18px;
}

.text-disabled {
  color: var(--color-dark-300);
}
